/* hamburger animation */

.hamburger-input:checked ~ .hamburger span:nth-child(1) {
    transform: translateY(3px) translateX(6px) rotate(45deg);
    transform-origin: left;
}
.hamburger-input:checked ~ .hamburger span:nth-child(2) {
    opacity: 0;
}
.hamburger-input:checked ~ .hamburger span:nth-child(3) {
    transform: translateY(-3px) translateX(6px) rotate(-45deg);
    transform-origin: left;
}

.hamburger-input:checked ~ .hamburger-list {
    left: 0;
}


/* responsive */

@media screen and (max-width : 1440px) {
    .hamburger {
        scale: 0;
    }
}

@media screen and (max-width : 576px) {
    .navbar {
        top: -200px;
    }
    .hamburger {
        left: 36px;
        scale: 1;
    }

    /* .jumbotron h1 {
        font-size: 35px;
    } */

    /* update */
    .jumbotron h1 {
        font-size: 38px;
    }

    /* .paragraph-jumbotron { 
        font-size: 13px;
    } */

    /* update */
    .paragraph-jumbotron { 
        font-size: 13px;
    }
}

