@font-face {
    font-family: poppins-regular;
    src: url(../assest/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(../assest/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-thin;
    src: url(../assest/fonts/Poppins-Thin.ttf);
}

* {
    font-family: poppins-regular;
}

/* navbar */

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    /* transform: translateY(-100px); */
}

.navbar h1 {
    padding: 25px;
    font-size: 30px;
    cursor: default;
}

.navbar ul {
    position: absolute;
    display: flex;
    right: 35px;
}

.navbar ul li {
    list-style: none;
    padding: 33px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    transition: .3s ease-in-out;
}

.navbar ul li a:hover {
    color: var(--txt-red);
}

/* hamburger */

.hamburger {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 43px;
    width: 43px;
    top: 40px;
    left: 30px;
    cursor: pointer;
    /* transform: translateX(-100px); */
}

.hamburger-input {
    opacity: 0;
    position: absolute;
}

.hamburger span {
    height: 6px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--text);
    transition: .3s ease-in-out;
}

.hamburger-list {
    position: fixed;
    height: 100vh;
    width: 115px;
    top: 0;
    left: -115px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    transition: .3s ease-in-out;
    background-color: rgba(105, 105, 105, 0.082);
    backdrop-filter: blur(3px);
}

.hamburger-list a {
    padding: 20px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.hamburger-list a:hover {
    color: var(--themes);
    background-color: var(--txt-red);
}

/* jumbotron */
.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jumbotron h1 {
    font-size: 65px;
}

.paragraph-jumbotron {
    font-size: 23px;
}

.illustration-jumbotron {
    height: 400px;
    width: 400px;
    position: absolute;
    right: 5%;
    border-radius: 0%;
    /* background-image: url(../assest/img/logo.png); */
    background-size: cover;
}

/* start */
.start {
    text-align: center;
    padding: 40px 150px;
    display: flex;
    flex-direction: column;
}

.start h1:nth-child(1) {
    margin-bottom: 60px;
}

.start div {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.start div h1 i {
    margin-top: 20px;
    margin-bottom: 70px;
}

.start div:last-child div {
    background-color: var(--text);
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.start div:last-child div img {
    height: 150px;
    width: 150px;
    padding: 20px;
    /* background-color: var(--text); */
}


/* end start */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}